@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Courier New";
    src: url("../fonts/CourierNew-Regular.ttf");
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    color: #666666;
}


.visually-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    border: 0;
    padding: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

.button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 0;
    background: #ECF2FF;
    cursor: pointer;
}

.page {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
            "header header"
            "nav main";
}

.main-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 260px 1fr auto;

    background-color: #ECF2FF;
}

.logo-container {
    padding: 20px 102px 20px 60px;
}

.bread-crumbs-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;
}

.bread-crumbs-item {
    position: relative;
    margin-right: 46px;
    padding: 30px 0;
}

.bread-crumbs-item:not(:last-of-type):after {
    content: "";

    width: 5px;
    height: 5px;
    border: 2px solid #5957DB;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
    right: -23px;
    transform: translateY(-60%) rotate(45deg);
}

.bread-crumbs-link {
    font-weight: bold;
    color: #5957DB;
    text-decoration: none;
    text-transform: uppercase;
}

.bread-crumbs-link-current {
    color: #666666;
}

.header-button-container {
    margin: 16px 60px 16px 0;
    position: relative;
}

.cinema-location {
    padding: 14px 50px 14px 24px;
    background: white;
    border-radius: 10px;
    border: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #5957DB;
    appearance: none;
}

.header-button-container::after {
    content: "";

    width: 5px;
    height: 5px;
    border: 2px solid #5957DB;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-120%) rotate(135deg);
}

.cinema-location  option {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.main-nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr auto;

    background-color: #5957DB;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
    margin: 20px 0 0 30px;
    padding: 0;
}

.menu-item {
    width: 100%;
    padding: 23px 15px 23px 60px;
    box-sizing: border-box;
    border-radius: 35px 0 0 35px;
    color: #fff;

    position: relative;
}

.menu-item:hover, .menu-item-current {
    background-color: #ECF2FF;
    color: #5957DB;
}

.menu-item:hover .menu-link {
    color: #5957DB;
}

.menu-item::before {
    content: "";

    width: 18px;
    height: 22px;

    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.menu-item-session::before {
    background: url("../img/sessions-icon.png") no-repeat center;
}

.menu-item-session:hover:before, .menu-item-current::before {
    background-image: url("../img/sessions-icon-current.png");
}

.menu-item-trailer::before {
    background: url("../img/trailer-icon.png") no-repeat center;
}

.menu-item-trailer:hover:before {
    background-image: url("../img/trailer-icon-current.png");
}

.menu-item-news::before {
    background: url("../img/news-icon.png") no-repeat center;
}

.menu-item-news:hover:before {
    background-image: url("../img/news-icon-current.png");
}

.menu-item-about::before {
    background: url("../img/about-icon.png") no-repeat center;
}

.menu-item-about:hover:before {
    background-image: url("../img/about-icon-current.png");
}

.menu-item-contacts::before {
    background: url("../img/contacts-icon.png") no-repeat center;
}

.menu-item-contacts:hover:before {
    background-image: url("../img/contacts-icon-current.png");
}

.menu-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.profile-container {
    margin: 0 0 62px 0;
    padding-left: 112px;
}

.profile-name {
    position: relative;
    display: inline-block;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.profile-name::before {
    content: "";

    width: 40px;
    height: 40px;
    background: url("../img/profile.png") no-repeat center;

    position: absolute;
    left: -52px;
    top: 50%;
    transform: translateY(-50%);
}

.cinema-parameters {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 360px;
}

.choice {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 180px repeat(2, 100px) 60px repeat(2, 120px) 80px;
    column-gap: 30px;

    padding: 60px;
}

.date-list {
    grid-column: span 9;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.date-item {
    grid-column: span 3;
}

.button-date {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 0;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    color: #5957DB;;
}

.button-date-current {
    background-color: #43D000;
    color: #fff;
    box-shadow: 0 8px 20px rgba(67, 208, 0, 0.6);
}

.calendar-date {
    font-size: 24px;
    line-height: 30px;
    color: inherit;
    margin-bottom: 10px;
}

.calendar-day {
    font-weight: normal;
    color: inherit;
    text-transform: lowercase;
}

.button-next, .button-prev {
    position: relative;

    margin-bottom: 60px;
    border: 0;
    border-radius: 8px;
    font-size: 0;
}

.button-next::before, .button-prev::before {
    content: "";

    width: 14px;
    height: 14px;
    border: 2px solid #CCDAF4;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
}

.button-next::before {
    transform: translate(-80%, -40%) rotate(45deg);
}

.button-prev::before {
    transform: translate(-30%, -40%) rotate(225deg);
}

.time-label {
    grid-column: 1/2;

    margin: 20px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.time-list {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.time-item {
    grid-column: span 2;
}

.time-button {
    width: 100%;
    padding: 20px 30px;
    border-radius: 30px;
    box-sizing: border-box;
    color: #5957DB;
}

.time-button-current {
    background-color: #43D000;
    color: #fff;
    box-shadow: 0 8px 20px rgba(67, 208, 0, 0.6);
}

.screen {
    grid-column: 1/-1;
    padding-top: 30px;
    text-align: center;

    background: url("../img/screen.png") no-repeat center;
}

.screen-text {
    font-weight: bold;
    color: #CCDAF4;
    text-transform: uppercase;
}

.seat-label {
    grid-column: 1/2;

    margin: 70px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.seat-list {
    grid-column: 2/-2;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: seat-counter;
}

.seat-item {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    flex-shrink: 0;
    position: relative;
}

.seat-item:last-of-type {
    margin-right: 0;
}

.seat-item::after {
    counter-increment: seat-counter;
    content: counter(seat-counter);

    font-weight: bold;
    color: #5957DB;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seat-item-occupied::after {
    color: #CCDAF4;
}

.seat-item-chosen::after {
    color: #fff;
}

.seat-button {
    width: 100%;
    height: 100%;
    background: transparent url("../img/seat-icon.png") no-repeat center;
}

.seat-item-occupied .seat-button {
    background-image: url("../img/seat-icon-occupied.png");
}

.seat-item-chosen .seat-button {
    background-image: url("../img/seat-icon-chosen.png");
}

.seat-param-list {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 30px;

    list-style: none;
    margin: 70px 0 0;
    padding: 0;
}

.seat-param-item {
    grid-column: span 2;
    padding-left: 36px;
    position: relative;
}

.seat-param-item-chosen {
    grid-column: span 3;
}

.seat-param-item::before {
    content: "";

    width: 24px;
    height: 24px;
    border-radius: 4px;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.seat-param-item-occupied::before {
    border: 2px solid #ECF2FF;
}

.seat-param-item-free::before {
    background-color: #ECF2FF;
}

.seat-param-item-chosen::before {
    background-color: #43D000;
}

.ticket-container {
    padding: 40px 60px;
    background-color: #5957DB;
}


.ticket header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px 30px;
    border-radius: 10px 10px 0 0;
    background-color: #43D000;

    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.ticket header p, .ticket header h3 {
    margin: 0;
}

.seat-choice-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    padding: 20px 30px 28px;
    margin: 0;
    border-bottom: 2px dashed #ECF2FF;
    background-color: #fff;
}

.seat-choice-list dd, .seat-choice-list dt {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}

.seat-choice-list dt {
    color: #aaa;
}

.seat-choice-list dd {
    font-weight: bold;
}

.barcode {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 28px 0 30px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

.pay-container {
    padding: 40px 60px;
    background-color: #ECF2FF;
}

.pay h3 {
    margin: 0 0 20px;

    font-weight: bold;
    text-transform: uppercase;
}

.card {
    font-family: "Courier New", sans-serif;

    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #5957DB;
    box-shadow: 0 8px 20px rgba(89, 87, 219, 0.6);
}

.card-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.card-logo::before {
    content: "";

    width: 35px;
    height: 18px;
    border-radius: 2px;
    background-color: #ECF2FF;
}

.card-logo p {
    margin: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.card-number {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 16px;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
}

.payment-add-button {
    display: block;
    position: relative;

    width: 100%;
    height: 60px;
    border: 2px solid #CCDAF4;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.payment-add-button::before {
    content: "+";

    font-weight: 200;
    font-size: 37px;
    color: #CCDAF4;
}

.result-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-top: 45px;
    padding: 20px 36px;
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #43D000;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}