body {
    padding: 0;
    margin: 0 auto;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    color: #666666;
}


.visually-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    border: 0;
    padding: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

.button {
    font-weight: bold;
    background: #ECF2FF;
}

.page {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
            "header header"
            "nav main";
}

.main-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 260px 1fr auto;

    background-color: #ECF2FF;
}

.logo-container {
    padding: 20px 102px 20px 60px;
}

.bread-crumbs-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;
}

.bread-crumbs-item {
    position: relative;
    margin-right: 46px;
    padding: 30px 0;
}

.bread-crumbs-item:not(:last-of-type):after {
    content: "";

    width: 5px;
    height: 5px;
    border: 2px solid #5957DB;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
    right: -23px;
    transform: translateY(-60%) rotate(45deg);
}

.bread-crumbs-link {
    font-weight: bold;
    color: #5957DB;
    text-decoration: none;
    text-transform: uppercase;
}

.bread-crumbs-link-current {
    color: #666666;
}

.header-button-container {
    margin: 16px 60px 16px 0;
    position: relative;
}

.cinema-location {
    padding: 14px 50px 14px 24px;
    background: white;
    border-radius: 10px;
    border: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #5957DB;
    appearance: none;
}

.header-button-container::after {
    content: "";

    width: 5px;
    height: 5px;
    border: 2px solid #5957DB;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-120%) rotate(135deg);
}

.cinema-location  option {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.main-nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr auto;

    background-color: #5957DB;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
    margin: 20px 0 0 30px;
    padding: 0;
}

.menu-item {
    width: 100%;
    padding: 23px 15px 23px 60px;
    box-sizing: border-box;
    border-radius: 35px 0 0 35px;

    position: relative;
}

.menu-item:hover {
    background-color: #ECF2FF;
}

.menu-item:hover .menu-link {
    color: #5957DB;
}

.menu-item::before {
    content: "";

    width: 18px;
    height: 22px;

    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.menu-item-session::before {
    background: url("../img/sessions-icon.png") no-repeat center;
}

.menu-item-session:hover:before {
    background-image: url("../img/sessions-icon-current.png");
}

.menu-item-trailer::before {
    background: url("../img/trailer-icon.png") no-repeat center;
}

.menu-item-trailer:hover:before {
    background-image: url("../img/trailer-icon-current.png");
}

.menu-item-news::before {
    background: url("../img/news-icon.png") no-repeat center;
}

.menu-item-news:hover:before {
    background-image: url("../img/news-icon-current.png");
}

.menu-item-about::before {
    background: url("../img/about-icon.png") no-repeat center;
}

.menu-item-about:hover:before {
    background-image: url("../img/about-icon-current.png");
}

.menu-item-contacts::before {
    background: url("../img/contacts-icon.png") no-repeat center;
}

.menu-item-contacts:hover:before {
    background-image: url("../img/contacts-icon-current.png");
}

.menu-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.profile-container {
    margin: 0 0 62px 0;
    padding-left: 112px;
}

.profile-name {
    position: relative;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.profile-name::before {
    content: "";

    width: 40px;
    height: 40px;
    background: url("../img/profile.png") no-repeat center;

    position: absolute;
    left: -52px;
    top: 50%;
    transform: translateY(-50%);
}

.cinema-parameters {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 360px;
}

.choice {
    padding: 60px;
}

.ticket-container {
    padding: 40px 60px;
    background-color: #5957DB;
}


.ticket header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px 30px;
    border-radius: 10px 10px 0 0;
    background-color: #43D000;

    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.ticket header p, .ticket header h3 {
    margin: 0;
}

.seat-choice-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    padding: 20px 30px 28px;
    margin: 0;
    border-bottom: 2px dashed #ECF2FF;
    background-color: #fff;
}

.seat-choice-list dd, .seat-choice-list dt {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}

.seat-choice-list dt {
    color: #aaa;
}

.seat-choice-list dd {
    font-weight: bold;
}

.barcode {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 28px 0 30px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

.pay-container {
    padding: 40px 60px;
    background-color: #ECF2FF;
}

.pay h3 {
    margin: 0 0 20px;

    font-weight: bold;
    text-transform: uppercase;
}

.card {
    font-family: "Courier New", sans-serif;

    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #5957DB;
    box-shadow: 0 8px 20px rgba(89, 87, 219, 0.6);
}

.card-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.card-logo::before {
    content: "";

    width: 35px;
    height: 18px;
    border-radius: 2px;
    background-color: #ECF2FF;
}

.card-logo p {
    margin: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.card-number {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 16px;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
}

.payment-add-button {
    display: block;
    position: relative;

    width: 100%;
    height: 60px;
    border: 2px solid #CCDAF4;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.payment-add-button::before {
    content: "+";

    font-weight: 200;
    font-size: 37px;
    color: #CCDAF4;
}

.result-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-top: 60px;
    padding: 20px 36px;
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #43D000;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}